@using RPSClientApp.Resources;
<h3>POST api/championship/reset</h3>

<p>
    This action deletes all the information on DB in order to start over the game.
</p>

<h4>@APIResource.ResourceInfo</h4>
<label><span class="bold">@APIResource.ResourceURL</span>:&nbsp;<span class="unbold">/api/championship/reset</span></label><br />
<label><span class="bold">@APIResource.HttpMethod</span>:&nbsp;<span class="unbold">@APIResource.DeleteMethod</span></label><br />
<label><span class="bold">@APIResource.ResponseFormat</span>:&nbsp;<span class="unbold">@APIResource.JsonFormat</span></label><br />
<label><span class="bold">@APIResource.QueryParams</span>:&nbsp;<span class="unbold">@APIResource.None</span></label><br />
<label><span class="bold">@APIResource.BodyParams</span>:&nbsp;<span class="unbold">@APIResource.None</span></label><br />
<label><span class="bold">@APIResource.ExampleRequest</span>:</label>&nbsp;<span class="unbold">@APIResource.DeleteMethod http://rpsapi.azurewebsites.net/api/championship/reset </span><br />
<label><span class="bold">@APIResource.ExampleOutput</span>:</label>&nbsp;<span class="unbold">Status 200 OK</span><br />
